.wrapper {
    padding: 20px;
}

.jumbotron {
    background-color: rgb(95, 40, 40);
    color: white;
    text-align: center;
}

.container {
    margin: 20px;
}

.form-control {
    font-style: strong;
}

.card-header {
    background-color: rgb(29, 122, 165);
    color: white;
}

footer {
    background-color:  rgb(95, 40, 40);
    color: white;
    font-size: 15px;
    text-align: center;
    height: 60px;
    padding: 10px;
}
